.card {
  display: flex;
  flex-direction: column;
  background: white;
  border-radius: 10px 10px 0 0;
}

.card__image {
  height: 282px;
  width: 282px;
}

.card__title {
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-size: 24px;
  font-family: Inter, Arial, sans-serif;
  font-weight: 900;
  line-height: 1.2;
}

.card__subtitle {
  color: black;
  display: flex;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 20px;
  padding-right: 20px;
  align-items: center;
  justify-content: space-between;
}

.card__like-button {
  background: transparent url(../images/like.svg) center no-repeat;
  width: 21px;
  height: 18px;
  transition: opacity 0.3s ease;
  border: none;
  cursor: pointer;
}

.card__like-button:hover {
  opacity: 0.5;
}
