.footer__copyright {
  margin-top: 67px;
  margin-bottom: 60px;
  color: #545454;
  font-style: normal;
  font-size: 18px;
  line-height: 1.2;
  font-weight: 400;
}

@media only screen and (max-width: 620px) {
  .footer {
    max-width: 282px;
  }
  .footer__copyright {
    font-size: 14px;
  }
}
