.profile {
  display: flex;
  padding-top: 40px;
  align-items: center;
}

.profile__title {
  font-weight: 500;
  font-style: normal;
  font-size: 42px;
  line-height: 48px;
  grid-area: title;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  min-width: 375px;
}

.profile__info {
  display: grid;
  grid-template-areas:
    "title button"
    "description description";
  row-gap: 7px;
  align-items: center;
}

.profile__edit-button {
  background: transparent url(../images/Edit\ Button.svg) center no-repeat;
  height: 24px;
  width: 24px;
  grid-area: button;
  margin-left: 18px;
  transition: opacity 0.3s ease;
  border-color: white;
  border-width: 1px;
  border-style: solid;
  cursor: pointer;
  margin-right: 20px;
}

.profile__edit-button:hover {
  opacity: 0.6;
}

.profile__add-button {
  background: transparent url(../images/add-button-2.svg) center no-repeat;
  width: 150px;
  height: 50px;
  margin-left: auto;
  transition: opacity 0.3s ease;
  border: 2px solid;
  border-color: white;
  cursor: pointer;
  border-radius: 2px;
}

.profile__add-button:hover {
  opacity: 0.6;
}

.profile__image {
  height: 120px;
  width: 120px;
  margin-right: 24px;
  border-radius: 50%;
}

.profile__subtitle {
  font-family: Inter, Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.2;
  grid-area: description;
  margin: 0;
  margin-top: 7px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 373px;
}

@media only screen and (max-width: 620px) {
  .profile {
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
  }

  .profile__title {
    margin-top: 26px;
    font-size: 22px;
    line-height: 1.1;
    min-width: auto;
    max-width: 196px;
  }

  .profile__image {
    margin: 0;
  }

  .profile__info {
    justify-content: center;
    gap: 0;
    margin: 0;
    width: 100%;
  }

  .profile__subtitle {
    width: 100%;
    text-align: center;
    font-size: 14px;
    line-height: 16px;
    max-width: 282px;
  }

  .profile__add-button {
    margin: 0;
    width: 100%;
    margin-top: 36px;
    max-width: 282px;
  }

  .profile__edit-button {
    margin-top: 26px;
    width: 16px;
    height: 16px;
  }
}

@media only screen and (max-width: 700px) {
  .profile__add-button {
    min-width: 60px;
  }
}

@media only screen and (max-width: 322px) {
  .profile__add-button {
    max-width: 282px;
  }
}

@media only screen and (max-width: 670px) {
  .profile__title {
    min-width: 196px;
    font-size: 22px;
  }
}
